body {

  white-space: nowrap;
  writing-mode: vertical-lr;

  overflow-y: hidden;

}

.word-wrapper {

  white-space: initial;

  padding: 8px;

  height: calc(100%-8px);
  
  word-break: break-all;

}

.character-wrapper {

  display: inline-block;

  padding: 0;
  margin: 3px;

  width: 14px;
  height: 12px;

  line-height: 0;

}

.character-cell {

  --line: 2px; 

  display: inline-block;

  padding: 0;
  margin: 0;

  width: calc(50% - var(--line, 1px)*2);
  height: calc(50% - var(--line, 1px)*2);

  border: var(--line, 1px) solid white;

}

.character-cell.top {

  border-top-color: black;

}

.character-cell.bottom {

  border-bottom-color: black;

}

.character-cell.left {

  border-left-color: black;

}

.character-cell.right {

  border-right-color: black;

}

.black.word-wrapper {

  background: black

}

.black .character-cell {

  border-color:black;

}

.black .character-cell.top {

  border-top-color: white;

}

.black .character-cell.bottom {

  border-bottom-color: white;

}

.black .character-cell.left {

  border-left-color: white;

}

.black .character-cell.right {

  border-right-color: white;

}